body
{
    background-color:#fffefe

}

#page-wrap
{
    width: 800px;
    margin: 0 auto;
}

#login-box
{
    padding-top: 5%;
    width: auto;

}

#login-form
{
    display: block;
    padding-bottom: 15px;
}

#selectdb
{
    text-align: left;
    padding-top: 2%;
}
